<div class="register-container">
    <form action="" method="post" class="register-form">
        <div class="input-group">
            <label for="name">Full Name</label>
            <input type="text" name="name" id="name" placeholder="Full Name">
        </div>
        <div class="input-group">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" placeholder="E-mail">
        </div>
        <div class="input-group">
            <label for="phone">Mobile No.</label>
            <input type="text" name="phone" id="phone" placeholder="Mobile No.">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>

        <button type="submit">Register</button>
    </form>
</div>